<!-- layout.nunjucks -->
<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="icon" href="https://via.placeholder.com/70x70">
    <link rel="stylesheet" href="./styles/main.css">

    <meta charset="utf-8">
    <meta name="description" content="My description">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>My title</title>
</head>

<body>
    {% include "src/templates/partials/header.njk" %}
    <!-- You write code for this content block in another file -->
    {% block content %} {% endblock %}

    {% include "src/templates/partials/footer.njk" %}

</body>

</html>
