<meta charset="utf-8">
<meta name="author" content="My Name">
<meta name="description" content="A description of my website.">
<meta name="format-detection" content="telephone=no">
<meta name="apple-mobile-web-app-capable" content="yes">
<meta http-equiv="content-type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel=canonical href="yourwebsite.com">

<!-- Open Graph Meta Tags-->
<meta property="og:locale" content="en_US">
<meta property="og:title" content="My Website"/>
<meta property="og:description" content="A description of my website." />
<meta property="og:image" content="/path/to/main/website/image.jpg" />
<meta property="og:type" content="website">
<meta property="og:url" content="yourwebsite.com">
<meta property="og:site_name" content="My Website">

<!-- Twitter Meta Tags  (repeat this section for social accounts as needed)-->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:description" content="A description of my website.">
<meta name="twitter:title" content="My Website, Wow!">
<meta name="twitter:site" content="@mywebsitehandle">
<meta name="twitter:image" content="images/image.png">
