<!-- Scripts to run in the footer -->
<!-- Remember! Use an 'onload' event to ensure scripts run after content load-->
<script>
      let currentYear = new Date().getFullYear();
      document.getElementById('currentYear').innerHTML=currentYear;
</script>
