<!-- Footer -->
<footer>
  <hr>
  <p>Questions? Reach out! me@example.com</p>
  {% include "src/templates/partials/footer/_copyright.njk" %}
</footer>
{% include "src/templates/partials/footer/_footer_scripts.njk" %}
