<!-- Header Navigation Partial -->
<header>
    <nav>
      <a href="/blog"><h1>My Blog</h1></a>
      <ul>
        <li>
          <a name="Home" href="../index.html" title="Home">Back to main site</a>
        </li>
      </ul>
    </nav>
</header>
