<header>
  <style>
    [name|="{{title}}"] {
      font-weight: 600;
      color: black;
    }
  </style>
    <nav>
      <a href="/"><img alt="Logo" src="https://via.placeholder.com/200x70?text=Logo" height="70"></a>
      <ul>
        <li>
          <a name="Home" href="index.html">Home</a>
        </li>
        <li>
          <a name="About Us" href="about.html">About Us</a>
        </li>
        <li>
          <a name="Contact Us" href="contact.html">Contact</a>
          <ul>
            <li>
              <a href="#">Sublink with a long name</a>
            </li>
            <li>
              <a href="#">Short sublink</a>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
</header>
